/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*{margin:0;
padding:0;}

.left{float:left;}
.right{float:right;}


header{height:200px;
width:100%;
overflow: hidden;
}

.wrapper{width: 1325px;
margin: 10px auto;
height: 78px;
}


.logo {
width: 115px;
height: 98px;
}

.logo img{
	      width:100%;
}

.menubar_search {
height: 65px;
width: 1100px;
}

.menubar {	
width: 860px;
height: 65px;
box-sizing: border-box;
}

.menubar ul{list-style: none;
}
.menubar ul li{
	border-right: 1px solid white;
			   float:left;
	position:relative;		   
	
}
.menubar ul li a{
	text-decoration: none;
	color: #FFFFF4;
display: block;
font-size: 15pt;
padding: 16px 12px;
}

.menubar ul li a:hover{
	border:2px solid white;
	background-color: #15418C;

}

.menubar ul li ul{position:absolute;
left:-99999999999px;}
.menubar ul li ul li{}
.menubar ul li ul li a{}
.menubar ul li ul li a:hover{}

.search{
height: 45px;
width: 208px;
margin-top: 7px;
}

.search_bar {
	background-color: white;
	color:black;
}

.search_menu {
	width: 140px;
height: 40px;
color: #96967F;
background-color: white;
	padding-left: 20px;
	background:url(../img/search_icon.png) no-repeat center center;
	background-position:97%;
}

.share_icon {color: white;
margin-top: 9px;
}

.nav_bar {	
width: 1330px;
height: 61px;
margin: 30px auto;
}

.nav_bar ul{
	list-style: none;
margin: 8px 80px;	
}

.nav_bar ul li{
float:left;	
}

.nav_bar ul li a{
	text-decoration: none;
color: #EEF4D2;
background-color: #555555;
border: 1px solid white;
display: block;
font-size: 14pt;
padding: 9px 7px;
}

.nav_bar ul li a:hover{
	color:white;
	background-color: #888888;	
}


#info_images {height: 375px;
width: 100%;
overflow: hidden;
}

.wrapper_info_images{
margin: 0 auto;
height: 372px;
width: 1325px;
}

.left_info_images{
height: 357px;
width: 621px;
background: url(../img/newly_discovered.jpg) no-repeat center center;
background-size: cover;
}

.upper_images{
height: 356px;
width: 685px;
background:url(../img/Asteroid_2002.png) no-repeat center center;
background-size: cover;}

#info_image_2{
height: 729px;
width: 1327px;
margin: 0 auto;
}

.down_images{
height: 712px;
width: 1322px;
margin-left: 0px;
background:url(../img/nasa_activities.jpg) no-repeat center center;
background-size: cover;
background-image:100%; }


#second_step {display: block;
overflow: hidden;
height: 410px;
width: 100%;
}

.step_two_wrapper {
height: 399px;
width: 1331px;
margin: 0 auto;
}

.nasa_events {height: 392px;
width: 434px;
float: left;
text-decoration: none;
margin-right: 9px;
float:left;
}


.rocket{background:url(../img/rocket_flying.gif) no-repeat center center;
background-size: cover;}

.rocket h1{
width: 140px;
height: 36px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
margin-top: 298px;
}

.rocket h1 a{
color: #D9DAD9;
text-decoration: none;
}

.rocket h1:hover{
background-color:#5D7FB9;
color:#FFFFF8;
}



.rocket p{
font-weight: normal;
background-color: #CCCCCC;
font-size: 15pt;
width: 435px;
height: 57px;
margin-top: -16px;
}

.rocket p a{
	color: #000026;
	text-decoration: none;
}

.rocket p:hover{
color:#000000;
background-color: #FFFFFF;
}





.tech{
background:url(../img/tech_demonstration.jpg) no-repeat center center;
background-size: cover;
}

.tech h1{
width: 200px;
height: 36px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
margin-top: 316px;
}

.tech h1 a{
color: #D9DAD9;
text-decoration: none;
}

.tech h1:hover{
	background-color:#5D7FB9;
	color:#FFFFF8;
}

.tech p{
font-weight: normal;
background-color: #CCCCCC;
font-size: 15pt;
width: 434px;
height: 39px;
margin-top: -16px;
}

.tech p a{
color: #000026;
text-decoration: none;	
}

.tech p:hover{
color:#000000;
background-color: #FFFFFF;
}

.special{
	background-color: #39719E;
}

.special h1{
border-bottom:2px solid white;
width: 428px;
height: 36px;
font-weight: normal;
font-size: 18pt;
margin-left: 4px;
}

.special h1 a{
	color:#FFFFFF;
	text-decoration: none;
}

.special h1 a:hover{
color:#FFFFFF;
text-decoration: underline;
}

.special h2{
width: 428px;
height: 74px;
font-weight: normal;
font-size: 15pt;
margin-left: 4px;
}

.special h2 a{
color:#FFFFFF;
text-decoration: none;
}

.special h2 a:hover{
color:#FFFFFF;
text-decoration: underline;
}

.special h3{
width: 428px;
height: 176px;
font-weight: normal;
font-size: 15pt;
margin-left: 4px;
}

.special h3 a{color:#FFFFFF;
	text-decoration: none;
}

.special h3 a:hover{
color:#FFFFFF;
text-decoration: underline;
}

.nasa_events_footer{
border-top:2px solid white;
height: 10px;
width: 425px;
margin-left: 4px;
}

.left_event h4 a{color:#FFFFFF;
	text-decoration: none;
	font-weight:normal;
	font-size:18pt;
}

.left_event h4 a:hover{
color:#FFFFFF;
text-decoration: underline;
}

.right_event h5 a{
	color:#FFFFFF;
	text-decoration: none;
	font-weight:normal;
	font-size:18pt;
} 

.right_event h5 a:hover{
color:#FFFFFF;
text-decoration: underline;
}


#fourth_step{
	height: 1085px;
	width:100%;
	overflow:hidden;
}

.wrapper_fourth_step {
height: 1080px;
width: 1325px;
margin: 0 auto;
}

.calendar_menu{
height:1080px;
	width: 642px;
}

.calendar{
height: 399px;
width: 640px;
border: 2px solid #39719E;
}

.calendar caption{
height:10px;
width:50px;
	
}
.calendar h1{
height: 55px;
width: 642px;
margin-top: 0px;
background-color: #39719E;
color: white;	
}

.calendar h2{
height: 36px;
width: 640px;
margin: 0px auto;
background-color: #39719E;
color: white;
text-align: center;
font-size: 22pt;
}

.calendar h3{
height: 36px;
width: 639px;
background-color: #26252B;
color: white;
font-size: 17pt;
text-align: end;
}
.calendar h3 a{
	text-decoration: none;
	color:white;
}

table, tr,td{
width: 90px;
table-layout: fixed;
text-align: center;
font-size: 16pt;
border-collapse: collapse;
border: 1px solid skyblue;
height: 40px;
background-color: #CCCCCC;
}

table, tr,td:hover{
color: #000026;
background-color: #FFFFFF;
}

.scroll_menu{height: 628px;
width: 643px;
margin-top: 14px;
overflow: auto;
}

.wrapper_header_scrollbar{
height: 700px;
width: 616px;
background-color: #292F33;
border-bottom: 1px solid white;
margin-top: 14px;
}

.header_scrollbar{
width: 616px;
height: 120px;
border: 1px solid white;
}

.left_header img{
margin: 10px 5px;
width: 115px;
height: 100px;
display: inline-flex;}

.right_header img{
height: 68px;
width: 70px;
margin-top: 30px;
}

.name{
font-size: 27pt;
color: white;
}

.details{
background-color: black;
width: 616px;
height: 690px;
border: 1px solid white;}

.details h2{
font-weight: normal;
font-size: 23pt;
color: white;
margin-left: 14px;}

.details span{
}




.image_source img{
width: 592px;
height: 350px;
margin: 5px 12px;
}




.image_store {
width: 660px;
height: 870px;
}
.image_store img{
width: 320px;
height: 200px;
margin-bottom: 14px;}

.image_store_left{
width: 319px;
height: 1070px;
}

.image_store_right{
width: 319px;
height: 1070px;
}










.left_info_images h1{
width: 46px;
height: 30px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
color: #D9DAD9;
margin-top: 296px;	
}

.left_info_images h1 a{
	text-decoration: none;
}

.left_info_images h1:hover{
	background-color:#5D7FB9;
	color:#FFFFF8;
}

.left_info_images p{
margin: -16px auto;
width: 622px;
height: 31px;
background-color: #CCCCCC;
color: #000026;
font-weight: normal;
font-size: 15pt;
}

.left_info_images p a{
text-decoration: none;
}

.left_info_images p:hover{
color:#000000;
background-color: #FFFFFF;
}

.third_step {
display: block;
overflow: hidden;
height: 395px;
width: 100%;
}

.wrapper_third_step{
margin: 0 auto;
height: 390px;
width: 1330px;}

.events {
height: 392px;
width: 323px;
float: left;
text-decoration: none;
margin-right: 9px;
float:left;
}

.space{background: url(../img/space_launch.jpg) no-repeat center center;
		background-size: cover;
}

.space h1{width: 220px;
height: 39px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
margin-top: 300px;
text-align: left;}

.space h1 a{
color: #D9DAD9;
text-decoration: none;
}

.space h1 a:hover{	background-color:#5D7FB9;
	color:#FFFFF8;}

.space p{
font-weight: normal;
background-color: #CCCCCC;
font-size: 15pt;
width: 323px;
height: 54px;
margin-top: -16px;
}

.space p a{
color: #000026;
text-decoration: none;	
}

.space p a:hover{
color:#000000;
background-color: #FFFFFF;
}

.casini{background: url(../img/casini.jpg) no-repeat center center;
	background-size: cover;}

.casini h1{width: 70px;
height: 35px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
margin-top: 324px;}

.casini h1 a{
color: #D9DAD9;
text-decoration: none;
padding-left: 3px;
}

.casini h1 a:hover{	background-color:#5D7FB9;
	color:#FFFFF8;}

.casini p{
font-weight: normal;
background-color: #CCCCCC;
font-size: 15pt;
width: 323px;
height: 35px;
margin-top: -16px;
}

.casini p a{
color: #000026;
text-decoration: none;
padding-left: 3px;	
}

.casini p a:hover{
color:#000000;
background-color: #FFFFFF;
}

.human{background: url(../img/human.jpg) no-repeat center center;
	background-size: cover;}

.human h1{width: 175px;
height: 36px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
margin-top: 304px;}

.human h1 a{
color: #D9DAD9;
text-decoration: none;
padding-left: 3px;
}

.human h1 a:hover{	background-color:#5D7FB9;
	color:#FFFFF8;}

.human p{
font-weight: normal;
background-color: #CCCCCC;
font-size: 15pt;
width: 323px;
height: 53px;
margin-top: -16px;
}

.human p a{
color: #000026;
text-decoration: none;
padding-left: 3px;	
}

.human p a:hover{
color:#000000;
background-color: #FFFFFF;
}

.van{background: url(../img/van.jpg) no-repeat center center;
	background-size: cover;}


.van h1{width: 183px;
height: 36px;
font-weight: normal;
font-size: 18pt;
background-color: #536E9E;
margin-top: 305px;}

.van h1 a{
color: #D9DAD9;
text-decoration: none;
	padding-left: 3px;
}

.van h1 a:hover{
	background-color:#5D7FB9;
	color:#FFFFF8;}

.van p{
font-weight: normal;
background-color: #CCCCCC;
font-size: 15pt;
width: 325px;
height: 53px;
margin-top: -16px;
}

.van p a{
color: #000026;
text-decoration: none;
padding-left:3px;
}

.van p a:hover{
color:#000000;
background-color: #FFFFFF;
}




.more{height:38px;
width:1330px;
margin:0 auto;}




.more h1{background-color:#15418C;
color:#FFFFF4;
text-align: center;
font-weight:bold;
font-size:20pt;
}
.more h1:hover{color:#FFFFF4;
background-color:#5D7FB9;
}

.more h1 p{text-decoration: none;}

footer{width:100%
	height:125px;
}

.wrapper_footer{width: 1325px;
margin: 0 auto;
height: 80px;}

.top_footer{height: 80px;
width: 426px;
}

.footer_logo{
height: 80px;
width: 90px;
}
.footer_logo img{
width:100%;
height:100%;}

.footer_description{
height: 50px;
width: 320px;
}

.footer_description h1{
	font-size:11pt;
	color: #F6FFFF;
	font-weight:100;
}

.down_footer{
width: 1297px;
height: 30px;
}

.down_footer ul{
list-style: none;
margin-left: 555px;
margin-top: -14px;
}

.down_footer ul li{
float:left;
position:relative;
}

.down_footer ul li a{
color: #2D69B9;
display: block;
font-size: 12pt;
padding: 0px 8px;
text-decoration: none;
}

.down_footer ul li a:hover{
	color:#2D69B9;
	text-decoration: underline;
	
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
